# macOS
.DS_Store

# Android Studio
.idea/
!.idea/codeStyles/Project.xml  # Only keep shared code style if needed

*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
